<script src="https://www.mercadopago.com/v2/security.js" view="item"></script>
<div class="as-search-wrapper" role="main">
    <div class="as-navtuck-wrapper">
        <div class="as-l-fullwidth  as-navtuck" data-events="event52">
            <div>
                <div class="pd-billboard pd-category-header">
                    <div class="pd-l-plate-scale">
                        <div class="pd-billboard-background">
                            <img src="./assets/music-audio-alp-201709" alt="" width="1440" height="320" data-scale-params-2="wid=2880&amp;hei=640&amp;fmt=jpeg&amp;qlt=95&amp;op_usm=0.5,0.5&amp;.v=1503948581306" class="pd-billboard-hero ir">
                        </div>
                        <div class="pd-billboard-info">
                            <h1 class="pd-billboard-header pd-util-compact-small-18">Tienda e-commerce</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="as-search-results as-filter-open as-category-landing as-desktop" id="as-search-results">

        <div id="accessories-tab" class="as-accessories-details">
            <div class="as-accessories" id="as-accessories">
                <div class="as-accessories-header">
                    <div class="as-search-results-count">
                        <span class="as-search-results-value"></span>
                    </div>
                </div>
                <div class="as-searchnav-placeholder" style="height: 77px;">
                    <div class="row as-search-navbar" id="as-search-navbar" style="width: auto;">
                        <div class="as-accessories-filter-tile column large-6 small-3">

                            <button class="as-filter-button" aria-expanded="true" aria-controls="as-search-filters" type="button">
                                <h2 class=" as-filter-button-text">
                                    Smartphones
                                </h2>
                            </button>


                        </div>

                    </div>
                </div>
                <div class="as-accessories-results  as-search-desktop">
                    <div class="width:60%">
                        <div class="as-producttile-tilehero with-paddlenav " style="float:left;">
                            <div class="as-dummy-container as-dummy-img">

                                <img src="./assets/wireless-headphones" class="ir ir item-image as-producttile-image  " style="max-width: 70%;max-height: 70%;"alt="" width="445" height="445">
                            </div>
                            <div class="images mini-gallery gal5 ">
                            

                                <div class="as-isdesktop with-paddlenav with-paddlenav-onhover">
                                    <div class="clearfix image-list xs-no-js as-util-relatedlink relatedlink" data-relatedlink="6|Powerbeats3 Wireless Earphones - Neighborhood Collection - Brick Red|MPXP2">
                                        <div class="as-tilegallery-element as-image-selected">
                                            <div class=""></div>
                                            <img src="./assets/003.jpg" class="ir ir item-image as-producttile-image" alt="" width="445" height="445" style="content:-webkit-image-set(url({{ img }}) 2x);">
                                        </div>
                                        
                                    </div>

                                    
                                </div>

                                

                            </div>

                        </div>
 <!-- Step #2 -->
 <body>
<form id="form-checkout" >
   <input type="text" name="cardNumber" id="form-checkout__cardNumber" />
   </br>
   <input type="text" name="cardExpirationMonth" id="form-checkout__cardExpirationMonth" />
   </br>
   <input type="text" name="cardExpirationYear" id="form-checkout__cardExpirationYear" />
   </br>
   <input type="text" name="cardholderName" id="form-checkout__cardholderName"/>
   </br>
   <input type="email" name="cardholderEmail" id="form-checkout__cardholderEmail"/>
   </br>
   <input type="text" name="securityCode" id="form-checkout__securityCode" />
   </br>
   <select name="issuer" id="form-checkout__issuer"></select>
   </br>
   <select name="identificationType" id="form-checkout__identificationType"></select>
   </br>
   <input type="text" name="identificationNumber" id="form-checkout__identificationNumber"/>
   </br>
   <select name="installments" id="form-checkout__installments"></select>
   </br>
   <button type="submit" id="form-checkout__submit">Pagar</button>
   </br>
   <progress value="0" class="progress-bar">Cargando...</progress>
</form>
   <script src="https://sdk.mercadopago.com/js/v2"></script>
   <script>
       const mp = new MercadoPago('APP_USR-1642606a-048c-4a05-ba79-1c0fdeeacfbc');
       // Add step #3
       // Step #3
const cardForm = mp.cardForm({
  amount: "100",
  autoMount: true,
  form: {
    id: "form-checkout",
    cardholderName: {
      id: "form-checkout__cardholderName",
      placeholder: "Titular de la tarjeta",
    },
    cardholderEmail: {
      id: "form-checkout__cardholderEmail",
      placeholder: "E-mail",
    },
    cardNumber: {
      id: "form-checkout__cardNumber",
      placeholder: "Número de la tarjeta",
    },
    cardExpirationMonth: {
      id: "form-checkout__cardExpirationMonth",
      placeholder: "Mes de vencimiento",
    },
    cardExpirationYear: {
      id: "form-checkout__cardExpirationYear",
      placeholder: "Año de vencimiento",
    },
    securityCode: {
      id: "form-checkout__securityCode",
      placeholder: "Código de seguridad",
    },
    installments: {
      id: "form-checkout__installments",
      placeholder: "Cuotas",
    },
    identificationType: {
      id: "form-checkout__identificationType",
      placeholder: "Tipo de documento",
    },
    identificationNumber: {
      id: "form-checkout__identificationNumber",
      placeholder: "Número de documento",
    },
    issuer: {
      id: "form-checkout__issuer",
      placeholder: "Banco emisor",
    },
  },
  callbacks: {
    onFormMounted: error => {
      if (error) return console.warn("Form Mounted handling error: ", error);
      console.log("Form mounted");
    },
    onSubmit: event => {
      event.preventDefault();

      const {
        paymentMethodId: payment_method_id,
        issuerId: issuer_id,
        cardholderEmail: email,
        amount,
        token,
        installments,
        identificationNumber,
        identificationType,
      } = cardForm.getCardFormData();

      fetch("/process_payment", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          token,
          issuer_id,
          payment_method_id,
          transaction_amount: Number(amount),
          installments: Number(installments),
          description: "Descripción del producto",
          payer: {
            email,
            identification: {
              type: identificationType,
              number: identificationNumber,
            },
          },
        }),
      });
    },
    onFetching: (resource) => {
      console.log("Fetching resource: ", resource);

      // Animate progress bar
      const progressBar = document.querySelector(".progress-bar");
      progressBar.removeAttribute("value");

      return () => {
        progressBar.setAttribute("value", "0");
      };
    },
  },
});
   </script>
 </body>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
   