<script src="https://www.mercadopago.com/v2/security.js" view=""></script>
<div class="as-search-wrapper" role="main">
    <div class="as-navtuck-wrapper">
        <div class="as-l-fullwidth  as-navtuck" data-events="event52">
            <div>
                <div class="pd-billboard pd-category-header">
                    <div class="pd-l-plate-scale">
                        <div class="pd-billboard-background">
                            <img src="./assets/music-audio-alp-201709" alt="" width="1440" height="320" data-scale-params-2="wid=2880&amp;hei=640&amp;fmt=jpeg&amp;qlt=95&amp;op_usm=0.5,0.5&amp;.v=1503948581306" class="pd-billboard-hero ir">
                        </div>
                        <div class="pd-billboard-info">
                            <h1 class="pd-billboard-header pd-util-compact-small-18">Tienda e-commerce</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container" margin-left="20px">
<h1>¡Felicidades por tu compra!</h1>
<h3>Información del pago:</h3>
<h4>Payment type: {{ payment_type }} </h4>
<h4>External reference: {{ external_reference }} </h4>
<h4>Collection id: {{ collection_id }} </h4>
<div>
<a href="/"><button class="mercadopago-button">Home</button></a>
</div>
</div>
</div>